:root {
  --color-primary: #06657a;
  --color-darkGrey: #06657a;
  --color-heart: #ff4e50;
  --color-tag-dark: #24292f;
  --color-tag-light: #f5f5f5;
  --bgcolor-1password: #0a2d4d;
  --bgcolor-aws: #f90;
  --bgcolor-azure: #008ad7;
  --bgcolor-boundary: #ec585d;
  --bgcolor-consul: #dc477d;
  --bgcolor-datadog: #632ca6;
  --bgcolor-digital-ocean: #0080ff;
  --bgcolor-gandi: #00297a;
  --bgcolor-github: #24292f;
  --bgcolor-google-cloud: #4285f4;
  --bgcolor-hcp: #000;
  --bgcolor-html5: #e44d26;
  --bgcolor-nomad: #60dea9;
  --bgcolor-okta: #00297a;
  --bgcolor-packer: #63d0ff;
  --bgcolor-scaleway: #4f0599;
  --bgcolor-terraform: #844fba;
  --bgcolor-turingpi: #404040;
  --bgcolor-vagrant: #2e71e5;
  --bgcolor-vault: #ffec6e;
  --bgcolor-waypoint: #62d4dc;
}
}

body > .container {
  max-width: 768px;
}

footer.bg-dark {
  background-color: var(--color-primary);
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  color: var(--color-primary);
  font-weight: bold;
}

.logo {
  flex: 1;
  flex-direction: column;
}

.logo svg {
  max-width: 300px;
  width: 100%;
}

.logo h3 {
  font-weight: 300;
}

body > footer {
  padding: 4rem;
}

a.button.dark:hover {
  background-color: var(--color-primary);
  color: var(--color-tag-dark);
}

.bg-1password,
.bg-1password-cli {
  background-color: var(--bgcolor-1password);
  color: var(--color-tag-light);
}

.bg-aws {
  background-color: var(--bgcolor-aws);
  color: var(--color-tag-dark);
}

.bg-azure {
  background-color: var(--bgcolor-azure);
  color: var(--color-tag-light);
}

.bg-boundary {
  background-color: var(--bgcolor-boundary);
  color: var(--color-tag-light);
}

.bg-consul {
  background-color: var(--bgcolor-consul);
  color: var(--color-tag-light);
}

.bg-datadog {
  background-color: var(--bgcolor-datadog);
  color: var(--color-tag-light);
}

.bg-digital-ocean {
  background-color: var(--bgcolor-digital-ocean);
  color: var(--color-tag-light);
}

.bg-gandi {
  background-color: var(--bgcolor-gandi);
  color: var(--color-tag-light);
}

.bg-github {
  background-color: var(--bgcolor-github);
  color: var(--color-tag-light);
}

.bg-google-cloud {
  background-color: var(--bgcolor-google-cloud);
  color: var(--color-tag-light);
}

.bg-hcp {
  background-color: var(--bgcolor-hcp);
  color: var(--color-tag-light);
}

.bg-html5 {
  background-color: var(--bgcolor-html5);
  color: var(--color-tag-light);
}

.bg-nomad {
  background-color: var(--bgcolor-nomad);
  color: var(--color-tag-dark);
}

.bg-okta {
  background-color: var(--bgcolor-okta);
  color: var(--color-tag-light);
}

.bg-packer {
  background-color: var(--bgcolor-packer);
  color: var(--color-tag-dark);
}

.bg-scaleway {
  background-color: var(--bgcolor-scaleway);
  color: var(--color-tag-light);
}

.bg-terraform {
  background-color: var(--bgcolor-terraform);
  color: var(--color-tag-light);
}

.bg-turingpi {
  background-color: var(--bgcolor-turingpi);
  color: var(--color-tag-light);
}

.bg-vagrant {
  background-color: var(--bgcolor-vagrant);
  color: var(--color-tag-light);
}

.bg-vault {
  background-color: var(--bgcolor-vault);
  color: var(--color-tag-dark);
}

.bg-waypoint {
  background-color: var(--bgcolor-waypoint);
  color: var(--color-tag-dark);
}

.fa-heart {
  color: var(--color-heart);
}

.topic {
  padding: 4px 6px;
}

section {
  margin: 5rem auto;
}
